html, body {
	
	height: 100%;
	margin: 0;

}

#input {

	display: none;

}

.container-fluid {

	text-align: center;

}

select {

	width: auto !important;

}

td {

	padding: 0.2em;
	vertical-align: middle;

}

tr:nth-child(2) td, tr:nth-child(4) td {

	padding-bottom: 0.8em;

}

td:first-child {

	padding: 0 2em;
	border-right: 1px solid black;

}

td:nth-child(2) {

	padding: 0 calc(1em - 1px);

}

.table:last-child td:nth-child(2), .table:last-child td:nth-child(3), .table:last-child td:nth-child(4) {

	color: red;

}

.table:last-child td:nth-child(5), .table:last-child td:nth-child(6), .table:last-child td:nth-child(7) {

	color: blue;

}

.dq {

	text-decoration: line-through;

}